<div class="list-container">
  <div class="header-actions">
    <h2>Clientes</h2>
  </div>

  <div *ngIf="loading()" class="loading">Cargando...</div>

  <app-data-table
    [columns]="columns"
    [data]="clientes()"
    [actions]="actions"
    [options]="options"
    [loading]="loading()"
    [totalElementsOverride]="total()"
    [pageIndex]="state$.value.pageIndex"
    [pageSize]="limit"
    [sortActive]="state$.value.sort.active"
    [sortDirection]="state$.value.sort.direction"
    (sortChange)="onSortChange($event)"
    (pageChange)="onPageChange($event)"
    (searchChange)="onSearchChange($event)"
    emptyMessage="No hay clientes registrados."
  >
  </app-data-table>
</div>
